{% extends "base.html" %}
{% load thumbnail store_currency page_tags product_tags  %}
		
{% block head %}
	
		<script type="text/javascript" src="{{ STATIC_URL }}js/tools.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.fancybox-1.3.4.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.idTabs.modified.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.scrollTo-1.4.2-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.serialScroll-1.2.2-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/tools.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/product.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}modules/blockcart/ajax-cart.js"></script>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('.add_to_cart').click(function(){
				var frm = $('#frm_add_cart');
				frm.submit();
			});
		});
	</script>
		
{% endblock %}

{% block breadcrumb %}
<!-- Breadcrumb -->
<div class="breadcrumb">
	<a href="/" title="volver a Inicio">Início</a><span class="navigation-pipe">&gt;</span>
	<span class="navigation_end">{{product.title}}</span>
</div>
<!-- /Breadcrumb -->
{% endblock %}
{% block content %}




<div id="primary_block" class="clearfix">
	<h1>{{product.title}}</h1>
			<!-- right infos-->
	<div id="pb-right-column">
		<!-- product img-->
		<div id="image-block">
			<img src="/media/{{product.photo}}" title="{{product.title}}" alt="{{product.title}}"  id="bigpic" width="237" height="274" />
		</div>
				<!-- thumbnails -->
		<div id="views_block" >
		<div id="thumbs_list">
			{% if product.images.count > 1 %}
			<ul id="thumbs_list">
    		{% for image in product.images.all %}
    				<li id="thumbnail_1">
    				{% thumbnail image "50x45" crop="center" as im %}
    				    <a class="alterarFoto" href="{% thumbnail image "270x270" crop="center" as full %}{{ full.url }}{% endthumbnail %}" class="thickbox shown" >
    				        <img id="thumb_1" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    				    </a>
    				{% endthumbnail %}
    				</li>
    		{% endfor %}
			{%endif%}
		</div>
		</div>
		<span id="wrapResetImages" style="display:none;">
			<div>
				<a id="resetImages" href="product.php?id_product=1" onclick="$('span#wrapResetImages').hide('slow');return (false);">Mostrar todas las im&aacute;genes</a>
			</div>
		</span>		<!-- usefull links-->
		<ul id="usefull_link_block">
						<li><a href="javascript:print();">Imprimir</a></li>
						<li><span id="view_full_size" class="span_link">Ampliar</span></li>
					</ul>
	</div>
	<!-- left infos-->
	<div id="pb-left-column">
				<div id="short_description_block">
					<!--<div id="short_description_content" class="rte align_justify"> {{product.description|striptags}}</div>-->
						<p class="buttons_bottom_block"><a href="javascript:{}" class="exclusive">Mais detalhes</a></p>
					</div>
								<!-- add to cart form-->
	
	 <form   id="buy_block"   action="{% url add-to-cart  %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <input type="hidden" name="product" value="{{product.pk}}"  />
			<!-- hidden datas -->
			{% if product.variations.count > 1 %}
                <select name="variation">
                    {% for variation in product.variations.all  %}
                        <option value="{{variation.pk}}">{{variation}}</option>
                    {% endfor %}
                </select>
            {% else %} 
                {% for variation in product.variations.all  %}
                    <input type="hidden" name="variation" value="{{variation.pk}}" />    
                {% endfor %}            
            {% endif %}
			
			<!-- prices -->
				<p class="price">
						<span class="our_price_display">
							<span id="our_price_display">{{product.price|currency}}</span>
						</span>
				</p>
			<!-- quantity wanted -->
			<p id="quantity_wanted_p">
				<label>Quantidade:</label>
				<input type="text" name="qty" id="quantity_wanted" class="text" value="1" size="2" maxlength="3"  />
			</p>
			
			<!-- number of item in stock -->
			<p id="pQuantityAvailable">
				<span id="quantityAvailable">{{product.items_in_stock}}</span>
				<span  id="quantityAvailableTxtMultiple">dispoíveis</span>
			</p>
				<p id="add_to_cart" class="buttons_bottom_block">
				<a class="button_large" href="javascript:document.getElementById('add2cartbtn').click();">Colocar no Carrinho</a>
				<input id="add2cartbtn" type="submit" name="Submit" value="Carrinho" />
			</p>
						<div class="clearblock"></div>
		</form>
		</div>
</div>

<!-- description and features -->
<div id="more_info_block" class="clear">
	<ul id="more_info_tabs" class="idTabs idTabsShort">
		<li><a id="more_info_tab_more_info" href="#idTab1">Descrição</a>
		</li><li><a id="more_info_tab_data_sheet" href="#idTab2">Ficha t&eacute;cnica</a></li>						
	</ul>
	<div id="more_info_sheets" class="sheets align_justify">
			<!-- full description -->
		<div id="idTab1"><p>
			{{product.description|striptags}}
		</p></div>
				<!-- product's features -->
		<ul id="idTab2" class="bullet">
					<li><span>Peso : </span>{{product.weight}} kg</li>
					<li><span>Comprimento : </span>{{product.length}} cm</li>
					<li><span>Altura : </span>{{product.height}} cm</li>
					<li><span>Largura : </span>{{product.width}} cm</li>
				</ul>
				
	</div>
</div>
{% endblock %}