<div id="categories_block_left" class="block">
    {% if categories %}
	<h4>Categorias</h4>
    <div class="block_content">
        <ul class="tree dhtml">
        	{% for category in categories %}
            <li>
                <a href="{% url product_by_category category.slug %}" title="">{{category.name}}</a>
            </li>
			{% endfor %}
        </ul>
		{% else %}
        <script type="text/javascript">
            // <![CDATA[
            // we hide the tree only if JavaScript is activated
            $('div#categories_block_left ul.dhtml').hide();
            // ]]>
        </script>
		{% endif %}
    </div>
</div>
