{% load   page_tags    %}
<!-- Footer -->
<div id="footer_wrapper">
    <div id="footer">
        <!-- MODULE Block footer -->
        <ul id="footer_links">
 			<li class="first_item"><a href="/" class="active">Principal</a></li> 
			{% show_menu %}
            <li class="last_item">
                &copy;2011 Powered by <a href="http://www.shoppu.com.br">Shoppu</a>&trade;. All rights reserved
            </li>
        </ul>
        <!-- /MODULE Block footer --><!-- TM Banner #3 -->
        <div class="tmbanner3">
			<img src="{{ STATIC_URL }}/modules/tmbanner3/advertising.png" alt="Advertising" />
        </div><!-- /TM Banner #3 -->
        <!-- [[%FOOTER_LINK]] -->
    </div>
</div>