{% extends "base.html" %}
{% load i18n %}
{% block breadcrumb %}
<!-- Breadcrumb -->
<div class="breadcrumb">
	<a href="/" title="volver a Inicio">Início</a><span class="navigation-pipe">&gt;</span>
	<span class="navigation_end">Pagamento</span>
</div>
<!-- /Breadcrumb -->
{% endblock %}

{% block content %}
<!-- Steps -->
<ul class="step" id="order_step">
	<li class="step_todo">
		Resumo
			</li>
	<li class="step_todo">
		Identificação
			</li>
	<li class="step_current">
		Pagamento
	</li>
	<li id="step_end" class="step_todo">
		
	</li>
</ul>
<!-- /Steps -->

 <div id="order-detail-content" class="table_block">
 	
    {% if forms %}            
        {% for f in forms %}
            {{f}}
        {% endfor %}
    {% else %}
        <span>Nenhum pagamento configurado.</span>
    {% endif %}
</div>
{% endblock %}